fastapi
uvicorn[standard]
qdrant-client
langchain-qdrant
sentence-transformers
groq
python-dotenv
requests
langchain
langchain-community
langchain-groq
langchain-huggingface
pypdf
langchain-experimental
langchain-openai
cryptography>=41.0.0
python-jose[cryptography]
